@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Cute+Font&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Bungee", sans-serif;
  scroll-behavior: smooth;
  background-color: #b6b3c3;
}
.wrapper {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

section {
  padding: 50px 0px 50px 0px;
}

.wrapper > h3,
.wrapper > h1 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Bungee", sans-serif;
  color: #222831;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 5px solid #cccccc;
}
.wrapper > h3::after,
.wrapper > h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid #2d2844;
  width: 25%;
  position: relative;
  bottom: -5px;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }
}
